		.jumbotron
		{
		margin:0;
		padding-top: 5%;
		padding-bottom:5%;
		height: 681px;
		background-image: url("https://cdn.jsdelivr.net/gh/EndeavourWebDev/Sams_Indian@fd5d3dd1/assets/images/spice_spoon.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		color: black;
		}
